* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(23, 47, 66);
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: rgb(0, 19, 34);
    padding:1vh 3vh;
    color:white;
    height: 100vh;
    top: 0;
    position: fixed;
    width: 100vw;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

header .arrow{
    fill: white;
    height: 20vh;
}

nav ul {
    display: none;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 7vh;
}
nav ul a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav ul a::after {
    text-decoration: underline 2px;
}
.title1 {
    font-size: 20vh;
    transition: .5s;
}
.title2 {
    display: none;
}
main {
    margin-top: 25vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.section-container {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
}
.section-container>div h2 {
    font-size: 10vh;
    text-transform: uppercase;
}
.section-container>div>p {
    font-size: 4vh;
}

#home>div{
    height: 90vh;
    width: 90%;
    /* padding-top: 10vh; */
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home>div a {
    margin: 40px;
    padding: 15px 50px;
    font-size: 4vh;
    border-radius: 14px;
    color: white;
    background-color: steelblue;
    text-decoration: none;

}
#about {
    width: 90%;
    padding: 15vh 0px;
}
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me > div {
    width: 50%;
    padding: 10vh;
    text-align: left;
}
.about-me div h3 {
    font-size: 5vh;
}
.about-me div p {
    font-size: 3vh;
}

.skills-all h4{
    font-size: 3vh;
}
.skills-all div {
    /* height: 10vh; */
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.skills-all span {
    margin: 1vh;
    padding: 1.5vh 3vh;
    font-size: 3vh;
    /* border: 2px solid white; */
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.425);
}

/* projects section */
#projects {
    height: 100vh;
}
#projects>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
}

#projects>div>div>p {
    font-size: 4vh;
}
.projects-list {
    width: 50%;
    margin: auto;
    display: flex;    
    flex-direction: column;
    gap: 4vh;
}

.project-info > button {
    margin: 20px;
    border: none;
}
.project-info >button>a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: steelblue;
}


/* contact section */
#contact {
    margin: auto;
    height: 50vh;
}

#contact h2 {
    font-size: 10vh;
}